name: Nix

on:
  push:
  pull_request:

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
      - run: nix flake check --all-systems
      - name: Verify aarch64-linux release hash
        run: nix store prefetch-file --unpack --expected-hash sha256-i2WS3l35hFsHo/RU5l3xNxMNebaamvzsqwovODeBow0= https://github.com/agynio/pexels-cli/releases/download/v0.1.1/pexels-cli-linux-arm64.tar.gz

  build:
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            system: x86_64-linux
          - runner: macos-14
            system: aarch64-darwin
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
      - run: nix build .#packages.${{ matrix.system }}.default --out-link result
      - run: ./result/bin/pexels --help
